@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Ruins & Reef Adventure</title>
</head>
<body>
    <h2>Welcome to Ruins & Reef Adventure Blog</h2>
</body>
</html>